@media (max-width: 1366px) {
  .container {
    padding: 0 40px;
  }

  .title {
    margin-bottom: 50px;
    font-size: 50px;
    line-height: 56px;
    padding-top: 40px;
  }

  .intro__wrapper,
  .catalog__wrapper {
    padding-left: 40px;
  }
  .intro__info {
    width: 50%;
    margin-right: 40px;
  }
  .intro__title {
    margin-top: 120px;
    font-size: 85px;
    line-height: 90px;
  }
  .intro__descr {
    font-size: 16px;
    line-height: 24px;
  }

  .slider__counter {
    top: 480px;
  }
  .slider .slick-arrow {
    top: 480px;
  }

  .new__info-wrapper {
    width: 30%;
  }

  .food__intro {
    width: 300px;
  }

  .food__recipes {
    width: 70%;
  }

  .feedback__form {
    width: 50%;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 1300px) {
  .catalog__wrapper {
    padding: 0 40px;
    margin-bottom: 80px;
  }
  .catalog__slider {
    width: 820px;
    margin: 0 auto;
  }

  .catalog__slides .slick-list {
    padding: 0;
  }

  .catalog__slides .slick-prev {
    left: 485px;
  }

  .catalog__counter {
    left: 520px;
  }

  .catalog__slides .slick-next {
    left: 660px;
  }

  .schedule {
    margin-bottom: 80px;
  }
  .schedule__table {
    margin-bottom: 65px;
  }

  .new__video-wrapper::after {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 1150px) {
  .intro__wrapper {
    padding: 0 40px;
  }
  .intro__info {
    min-height: 770px;
  }
  .intro__descr {
    margin-bottom: 40px;
  }
  .button {
    font-size: 18px;
    line-height: 20px;
    padding: 31px 50px 30px 50px;
  }
  .intro__slider {
    width: 515px;
    margin-left: auto;
  }

  .intro__slider::after,
  .intro__slider::before {
    display: none;
  }
  .slider__item {
    display: block;
    margin: 0 auto;
  }

  .slider__counter {
    display: none;
  }
  .slider .slick-dots {
    width: 25%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .slick-dots button {
    font-size: 0;
    padding: 0;
    width: 12px;
    height: 12px;
    background-color: $accent-color;
    border-radius: 50%;
    border: none;
  }

  .slider__text {
    top: 680px;
    left: 55px;
  }

  .catalog__counter {
    left: 580px;
    font-size: 36px;
  }
  .schedule__table {
    padding-right: 20px;
    padding-left: 20px;
  }

  .schedule__date {
    width: 20%;
    padding-right: 45px;
    font-size: 40px;
    line-height: 46px;
    padding-top: 40px;
  }
  .lesson {
    width: 25%;
    padding-top: 40px;
  }

  .new__video-wrapper {
    width: 60%;
  }

  .new__info-wrapper {
    width: 30%;
  }

  .new__video-wrapper::after {
    top: 20px;
    left: 505px;
  }

  .recipe-item__wrapper {
    padding: 30px 65px 30px 45px;
  }

  .feedback__form-input {
    padding-bottom: 40px;
    margin-bottom: 90px;
  }

  .feedback__form-inputs {
    margin-bottom: 40px;
  }
}

@media (max-width: 1100px) {
  .catalog__slides .slick-arrow {
    width: 40px;
    height: 40px;
  }

  .catalog__slides .slick-prev {
    left: 550px;
  }

  .catalog__slides .slick-next {
    left: 720px;
  }
  .schedule {
    margin-bottom: 40px;
  }
  .schedule__date {
    padding: 0;
    padding-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    transform: rotate(270deg);
    font-size: 26px;
    line-height: 30px;
  }

  .new__video-wrapper::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .food__content-container {
    flex-direction: column;
  }

  .food__intro {
    width: 100%;
    margin-bottom: 40px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .food__recipes {
    width: 100%;
  }

  .food__img {
    width: 50%;
  }

  .recipe-item__wrapper {
    width: 50%;
    padding: 30px 35px 30px 35px;
  }
}

@media (max-width: 850px) {
  body {
    font-size: 15px;
    line-height: 20px;
  }

  .title {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 40px;
  }

  .intro__wrapper {
    flex-direction: column;
    margin-bottom: 40px;
    padding: 0 20px;
  }
  .intro__info {
    width: 100%;
    min-height: 500px;
    order: 1;
    z-index: 10;
    margin-right: 0;
    margin-top: -250px;
  }
  .intro__title {
    font-size: 66px;
    line-height: 70px;
    margin-top: 0;
    margin-bottom: 150px;
  }

  .intro__descr {
    text-align: center;
    font-size: 22px;
    margin-bottom: 60px;
  }
  .intro__btn {
    width: 50%;
    margin: 0 auto 40px;
  }
  .intro__slider {
    width: 65%;
    margin: 0 auto;
  }

  .catalog__wrapper {
    margin-bottom: 40px;
  }

  .catalog__slider {
    width: 400px;
  }
  .catalog__counter {
    display: none;
  }

  .catalog__slides .slick-list {
    padding: 0;
    margin: 0;
  }
  .catalog__slides .slick-slide {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .catalog__slider .slick-dots {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .catalog__slide-info {
    padding: 35px 39px 35px 40px;
  }

  .catalog__slide-title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  .catalog__slide-text {
    margin-bottom: 15px;
  }

  .catalog__button {
    width: 50%;
    margin: 0 auto;
  }
  .lesson {
    padding-left: 10px;
    padding-right: 5px;
  }
  .lesson__title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 15px;
  }
  .lesson__teacher {
    display: block;
    font-size: 15px;
    line-height: 20px;
  }
  .schedule__date {
    font-size: 14px;
    line-height: 16px;
  }
  .schedule__hours {
    font-size: 16px;
    line-height: 22px;
    padding-right: 10px;
  }

  .feedback__form {
    margin: 0 auto 80px;
  }
  .footer__lists-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container,
  .intro__wrapper {
    padding: 0 20px;
  }

  .title {
    padding-left: 0;
    &::before {
      display: none;
    }
  }
  .button {
    width: 100%;
    margin: 0 auto 20px;
  }

  .intro__title {
    font-size: 55px;
    line-height: 60px;
    margin-bottom: 160px;
  }

  .intro__slider {
    width: 60%;
    margin: 0 auto;
  }

  .slider__text {
    top: 580px;
  }

  .lesson {
    width: 30%;
  }

  .new__content-wrapper {
    flex-direction: column;
  }

  .new__video-wrapper {
    width: 100%;
    margin-bottom: 40px;
  }

  .new__info-wrapper {
    width: 100%;
  }

  .feedback__form-input {
    margin-bottom: 50px;
  }

  .feedback__form-inputs {
    margin-bottom: 20px;
  }
}

@media (max-width: 740px) {
  .slider__text {
    display: none;
  }
}

@media (max-width: 640px) {
  .food__recipes {
    width: 80%;
    margin: 0 auto;
  }
  .recipe-item {
    flex-direction: column;
    align-items: center;
  }
  .food__img {
    width: 100%;
  }

  .recipe-item__wrapper {
    width: 100%;
  }

  .feedback__form {
    width: 100%;
    font-size: 18px;
    line-height: 20px;
  }

  .footer__menu-list {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .footer__menu-item {
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .title {
    padding-left: 0;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 25px;

    &::before {
      display: none;
    }
  }

  .intro__info {
    min-height: 400px;
    margin-top: -200px;
  }

  .intro__title {
    font-size: 28px;
    line-height: 40px;
  }

  .intro__descr {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .slider .slick-dots {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .slick-dots button {
    font-size: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: $accent-color;
    border-radius: 50%;
    border: none;
  }

  .catalog__slider {
    width: 80%;
  }

  .catalog__slides {
    width: 90%;
  }
  .catalog__slides .slick-slide {
    width: 100%;
  }

  .catalog__img {
    width: auto;
  }

  .catalog__slide-info {
    padding: 25px 29px 25px 30px;
  }

  .button {
    font-size: 16px;
    line-height: 18px;
    padding: 20px 30px 20px 30px;
  }

  .lesson {
    width: 25%;
  }
  .lesson__teacher {
    font-size: 15px;
    line-height: 20px;
  }

  .food__recipes {
    width: 100%;
  }
}
